html {font: 10px #000000; font-family: 'Trebuchet MS';}

/* IMAGES */
.logo-img{margin:0 auto;padding: 10px 10px 10px;}

/* BLOCK INFO UNIVERSITE */
.block-28 {border:1px solid #ee8936; margin-top:30px; height:auto; padding:0px 20px 5px;}
.infos {border: 2px solid #6C2466; padding: 10px 10px 10px; margin: 10px;}


/* LIENS */
.lien_default {padding:5px 0; text-decoration: none; color: #000000;}

#lien_res_sociaux {padding: 0; margin:0;}
#lien_res_sociaux li {display: inline; list-style-type: none;}
#lien_res_sociaux a {display: inline; margin: 0 10px;}

/* POSITION */
#cote_gauche {float: left;}
#connexion {position: absolute; right: 2%; top: 2%;}
#corps {float: center; vertical_align: top;}
#options_admin {color: #6C2466; position: absolute; left: 25%; top: 15%;}

/* CONTENU */
.text_paragraph {}

.titre_page {color: #6C2466; text-align: center;}
.titre_section {color: #6C2466; text-align: center; font-size: 2em;}
.nb_etudiants_partis {color: #FFFFFF; background-color: #6C2466; padding: 3px;}

.options_admin {border: 2px solid #6C2466; border-radius: 5px; margin: 10px; padding: 5px;}

.voir_plus {color: #6C2466;float:right}

/* SEPARATEUR */
.separateur {background: #6C2466; height: 2px;}