<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

<welcome-file-list>
	<!-- <servlet-name>Accueil</servlet-name> -->
	<welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>servlets.Login</servlet-class>
</servlet>
<servlet>
	<servlet-name>University</servlet-name>
	<servlet-class>servlets.University</servlet-class>
</servlet>
<servlet>
	<servlet-name>DoubleDiplome</servlet-name>
	<servlet-class>servlets.DoubleDiplome</servlet-class>
</servlet>
<servlet>
	<servlet-name>Modalite</servlet-name>
	<servlet-class>servlets.Modalite</servlet-class>
</servlet>
<servlet>
	<servlet-name>Presentation</servlet-name>
	<servlet-class>servlets.Presentation</servlet-class>
</servlet>
<servlet>
	<servlet-name>Blog</servlet-name>
	<servlet-class>servlets.Blog</servlet-class>
</servlet>
<servlet>
	<servlet-name>BlogPage</servlet-name>
	<servlet-class>servlets.BlogPage</servlet-class>
</servlet>
<servlet>
	<servlet-name>Accueil</servlet-name>
	<servlet-class>servlets.Accueil</servlet-class>
</servlet>
<servlet>
	<servlet-name>Stage</servlet-name>
	<servlet-class>servlets.Stage</servlet-class>
</servlet>
<servlet>
	<servlet-name>Modalite</servlet-name>
	<servlet-class>servlets.Modalite</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>University</servlet-name>
	<url-pattern>/university</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>DoubleDiplome</servlet-name>
	<url-pattern>/doubleDiplome</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Modalite</servlet-name>
	<url-pattern>/modalite</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Presentation</servlet-name>
	<url-pattern>/presentation</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Blog</servlet-name>
	<url-pattern>/blog</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>BlogPage</servlet-name>
	<url-pattern>/blog/page</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Accueil</servlet-name>
	<url-pattern>/accueil</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Presentation</servlet-name>
	<url-pattern>/partirEtranger/presentation</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Stage</servlet-name>
	<url-pattern>/stage</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Modalite</servlet-name>
	<url-pattern>/partirEtranger/modalite</url-pattern>
</servlet-mapping>
</web-app>